@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  gap: 3rem;
}

.imageContainer img {
  width: 300px; /* Điều chỉnh kích thước ảnh */
  height: auto;
}

.textContainer {
  max-width: 500px;
}

.subtitle {
  font-size: 1rem;
  color: grey;
  font-family: 'Itim', cursive;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
}

.description {
  font-size: 1.2rem;
  font-family: 'Itim', cursive;
  color: grey;
  line-height: 1.6;
}

/* Đảo ngược layout nếu cần */
.reverse .container {
  flex-direction: row-reverse;
}
